extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Sign Up

        // register form
        form(method='POST' action='/newProposal')
          div.form-group
            label(for='projectName') Project Name:
            input#name.form-control(type='text', placeholder='Project' name='projectName')
          div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com' name='email')
          div.form-group
            label(for='walletID') Wallet ID:
            input#favoriteBook.form-control(type='text', placeholder='ETH Wallet ID' name='walletID')
          div.form-group
            label(for='motivation') Motivation:
            input#motivation.form-control(type='text' name='motivation')
          div.form-group
            label(for='mi1') Milestone 1:
            input#mi1.form-control(type='text' name='mi1')
          div.form-group
            label(for='mi2') Milestone 2:
            input#mi2.form-control(type='text' name='mi2')
          button.btn.btn-primary(type='submit') Sign up
